/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/metatdenovo -profile test
 */

params {
  config_profile_name = 'Eukaryotic test profile'
  config_profile_description = 'Medium size test dataset to check pipeline function with a single species eukaryotic dataset.'
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 24.GB
  max_time = 48.h

  assembler = 'trinity'
  annotator = 'trinotate'
  emapper = false // Too heavy because of the download
  megan_taxonomy = false // Also too heavy because of the download
  summary = false
  
  // Input data
  single_end = false
  input_paths = [
    ['Datisca', ['https://github.com/LNUc-EEMiS/test-datasets/raw/metatdenovo/testdata/datisca_1.fastq.gz', 'https://github.com/LNUc-EEMiS/test-datasets/raw/metatdenovo/testdata/datisca_2.fastq.gz']]
  ]
}

// vim:sw=4
