/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/metatdenovo -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Bacterial test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function with typical bacterial metaT settings: Megahit followed by Prokka.'
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  assembler = 'megahit'
  annotator = 'prokka'
  emapper = false // Too heavy because of the download
  megan_taxonomy = false // Also too heavy because of the download
  
  // Input data
  single_end = false
  input_paths = [
    ['P12052_320', ['https://github.com/LNUc-EEMiS/test-datasets/raw/metatdenovo/testdata/P12052_320_S74_L001_R1_001.fastq.gz', 'https://github.com/LNUc-EEMiS/test-datasets/raw/metatdenovo/testdata/P12052_320_S74_L001_R2_001.fastq.gz']],
    ['P12052_321', ['https://github.com/LNUc-EEMiS/test-datasets/raw/metatdenovo/testdata/P12052_321_S75_L001_R1_001.fastq.gz', 'https://github.com/LNUc-EEMiS/test-datasets/raw/metatdenovo/testdata/P12052_321_S75_L001_R2_001.fastq.gz']]
  ]
}

// vim:sw=4
